/* tailwind.css */

/* Tailwind base styles */
@tailwind base;

/* Tailwind components */
@tailwind components;

/* Tailwind utilities */
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'seven-segment';
    src: url('/fonts/SevenSegment.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
}

/* DaisyUI components (optional, as DaisyUI registers components automatically) */
